html, body, #viewDiv {
  background-color: #107896;
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;

 }

 #optionsDiv { 					/* style for the optionsDiv id */
    background-color: white;  /* backgorund color set to dimgray */
    color: Black;				/* color set to white */
    padding: 10px;				/* padding set to 10 px */
    width: 350px;				/* width set to 350 px */
    opacity: 0.7
  }


  .esri-popup .esri-popup-header .esri-title {	/* style for the classes esri popup, popup-header, and title */
    font-size: 18px;							/* font size set to 18 px */
    font-weight: bolder;						/* font weight set to bolder */
  }

  .esri-popup .esri-popup-body .esri-popup-content {  /* style for the classes esri popup, popup-body, and popup-content */
    font-size: 14px;								/* font size set to 14 px */
  }

  #viewDiv {
   position:relative;
  }

  #mydiv {
     position: absolute;
     z-index: 9;
     background-color: #3A3838;
     text-align: center;
     border: 6px solid #0E6661;
     border-style:double;
     top: 65%;
     left: 8%;
     height: 300px;;
     width:300px;
     opacity: 0.9;
  }



  #mydivheader {
     padding: 10px;
     cursor: move;
     z-index: 10;
     background-color: #0E6661;
     color: #fff;
  }

  #fields {
    position:absolute;
    right: 30px;
    top: 80px;

  }

  #variableselector{
    text-align: center;
    color:white;

  }

  #htmlslider {
    position: relative:
    bottom: 30%;
    width:80%;
  }

  #slidervalue {
    position: absolute;
    color:white;
    right: 140px;
    top: 125px
  }

  #amountofchange{

    color:white;

  }

  #amountofchange #amount {
    position: absolute;
    right:95px;
    top: 140px;
  }


  #amountofchange #year1  {
    position: absolute;
    top: 170px;
    right: 185px;

    font-size: 12px;
  }

  #amountofchange #year2  {
    position: absolute;
    top: 170px;
    right: 95px;
    font-size: 12px;

  }

  #amountofchange #explain {
    position: absolute;
    font-size: 10px;
    top: 230px;
    right: 50px;
  }

  #date_one {
    position:absolute;

    top: 200px;
    right: 175px;


  }

  #date_two {
    position: absolute;
    top: 200px;
    left: 160px;

  }


  #hidewindow {
     position:absolute;
     right: 1%;
     top:1px;
     visibility: hidden;
  }



  #changebutton {
    position: absolute;
    top:270px;
    right:122px;


  }

  #queryDiv {
    position: relative;
    top: 150px;
    left: -5px;
    color: white;
  }

  #queryDiv #queryvalue {
    position: absolute;
    font-size: 12;
    top: 45px;
    left: 50px;


  }

  #queryDiv #doBtn {
      position: relative;
      top: 125px;
      right: 50px;

  }

  #queryDiv #selectedqueryvariable {
    position: relative;
    font-size: 12px;
  right: 50px;
    top: 80px;
    white-space: nowrap;

  }

  #queryDiv #valSelect {
    position: relative;
    top: 130px;
    right: -50px;

  }

  #queryDiv #signSelect {
    position:relative;
    top: 65px;
    left: 90px;

  }


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#opacitybutton{
  position: absolute;
  bottom: 10%;
}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #107896;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
		position: fixed;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    position: relative;
}
.sidenav a:hover {
    color: #ADD8E6;
}
.sidenav .closebtn {
    top: 0;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
		position: relative;
}

h1{
	color: #ADD8E6;
	left: 300px;
	position:absolute;
	top: 0;
	text-align:left;
  font-family: Garamond;
}
h2{
	color: #ADD8E6;
  font-family: Garamond;
}
body {
    font-family: "Lato", Garamond;
    transition: background-color .5s;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
    color: rgba(0,0,0,0.4);
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#intro {
	position: absolute;
	top: 0;
	left: 250px;
  right: 250px;
	text-align: center;
	border: 1px solid black;
	color: #ADD8E6;
	padding: 35px;
  font-family: Garamond;
  font-size: 20px;
}
#content1{
	color: #ADD8E6;
	position: absolute;
	text-align: center;
	left: 250px;
	top: 150px;
  font-family: Garamond;

}
.references {
	text-align: left;
	color: black;
	font-family: arial;
	position: absolute;
	left: 250px;
	top: 0;
	border: 1px solid black;
	padding: 60px;
  right: 50px;
}
#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0.45 }
  to{ bottom:0; opacity:.3 }
}
